.docker/n8n/workflow.json
{
  "name": "workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "ae66ef72-c884-46d1-8d3d-82ecb37b39d9",
      "name": "When chat message received",
      "webhookId": "1e065797-39b6-4e50-b900-d2393a54cc54"
    },
    {
      "parameters": {
        "command": "=echo \"{{ $json.chatInput }}について詳しくweb検索して情報をまとめてください\" | claude -p "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "0e224f3f-f186-49d9-b04a-0bcde1cf6cad",
      "name": "Web Search"
    },
    {
      "parameters": {
        "command": "=echo \"以下の検索結果を整理して、重要なポイントを箇条書きでまとめてください。また、情報源も含めて記載してください。\\n {{ $('Web Search').first().json.stdout }}\" | claude -p"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        432,
        0
      ],
      "id": "6ec09326-3855-41b2-a268-36a8bd1815ca",
      "name": "Summarize Results"
    },
    {
      "parameters": {
        "fromEmail": "admin@example.com",
        "toEmail": "info@example.com",
        "subject": "=検索結果: {{ $('When chat message received').first().json.chatInput }}",
        "emailFormat": "text",
        "text": "={{ $('Summarize Results').first().json.stdout }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        640,
        0
      ],
      "id": "2fe162a2-286e-486c-973c-c958e79c22b8",
      "name": "Send email",
      "webhookId": "923cf3ab-0784-4b8d-b4ce-8c8ad7150987",
      "credentials": {
        "smtp": {
          "id": "NNngbpVjb1jk9lIZ",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Web Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Web Search": {
      "main": [
        [
          {
            "node": "Summarize Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Results": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "af67f276-8b70-424f-a717-7872887f4cd7",
  "meta": {
    "instanceId": "4eb57c3e92def2c29c821c28544527f472e61a006c727143678b023cd63c345e"
  },
  "id": "EZk3qb5Awy1LYlyx",
  "tags": []
}