.docker/n8n/workflow.json
{
  "name": "workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c86c769d-9a1e-4828-99ea-24e52aa501d8",
      "name": "When chat message received",
      "webhookId": "1e065797-39b6-4e50-b900-d2393a54cc54"
    },
    {
      "parameters": {
        "command": "=echo \"{{ $json.chatInput }}\" | claude -p "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "ed3e449f-272d-46d4-a0f7-12182f0bb594",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "fromEmail": "admin@example.com",
        "toEmail": "info@example.com",
        "subject": "通知テスト",
        "emailFormat": "text",
        "text": "={{ $json.stdout }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "4352009f-7598-409f-99c7-eb1c1a4db9ca",
      "name": "Send email",
      "webhookId": "923cf3ab-0784-4b8d-b4ce-8c8ad7150987",
      "credentials": {
        "smtp": {
          "id": "NNngbpVjb1jk9lIZ",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fb0c860b-dcde-46d8-99fe-62390b48bc40",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4eb57c3e92def2c29c821c28544527f472e61a006c727143678b023cd63c345e"
  },
  "id": "LmtlYBO5K8GhbqJf",
  "tags": []
}